@import './vendors/normalize';
@import './partials/mixins';
@import './partials/typography';
@import './partials/colors';
@import './partials/other';



.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid black;
  flex-basis: auto;
}

.container {
    h1{
    background-size: cover;
    background-position-x: center;
    }
}
@media (min-width: 768px) {
    .container {
      background-color: rgb(255, 125, 186);
    }
  }
@media (min-width: 1024px) {
    .container {
        background-color: rgb(156, 40, 151);
    }
}